{% extends 'base.html' %}

{% block body_class %}Login{% endblock %}

{% block content %}

<div class="row justify-content-md-center">
    <div class="col-md-7 col-lg-5">
        <!-- Default form login -->
        <form class="text-center border border-light p-5 mt-5" method="POST" action="/login">
            {{ form.hidden_tag() }}
            <p class="h4 mb-4">Sign in</p>


            {% for field in form if field.widget.input_type != 'hidden' %}
                {{ field(placeholder=field.label.text, class="form-control mt-4") }}
                    {% for error in field.errors %}
                    <small class="text-danger">{{ error }}</small>
                    {% endfor %}
            {% endfor %}

            <!-- Sign in button -->
            <button class="font-weight-bold btn winter-neva-gradient color-block btn-block my-4 waves-effect z-depth-0" type="submit">Sign in</button>

            <!-- Register -->
            <p>Not a member?
                <a href="/signup">Register</a>
            </p>

        </form>
    </div>
</div>    
{% endblock %}