{% extends 'base.html' %}

{% block body_class %}Signup{% endblock %}

{% block content %}
<div class="row justify-content-md-center">
    <div class="col-md-10 col-lg-8">
        <!-- Default form register -->
        <h2 class="join-message text-center mt-5 font-weight-bold pb-4">Find the closest public transport options in seconds!</h2>
        <form class="text-center border border-light p-5" method="POST" id="user_form">
            {{ form.hidden_tag() }}

            <p class="h4 mb-4">Sign up</p>

            {% for field in form if field.widget.input_type != 'hidden' %}
                {% for error in field.errors %}
                <span class="text-danger">{{ error }}</span>
                {% endfor %}
                {{ field(placeholder=field.label.text, class="form-control mb-4") }}
            {% endfor %}

            <button class="font-weight-bold btn winter-neva-gradient color-block btn-block my-4 waves-effect z-depth-0" type="submit"">Sign up</button>
        </form>

  </div>
</div>

{% endblock %}